body {
  background-color: grey;
  background-image: url("./salad.png");
  background-size: cover;
  background-blend-mode: lighten;
  
}

.flex {
  display: flex;
  flex-direction: column;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
}

.navbar {
  border: 1px solid black;
}

.textareas {
  display: flex;
  margin: auto;
  margin-top: 30px;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;

}


.textarea-heading {
  background-color: white;
  padding: 5px;
  border: 2px dotted black;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px black;
}

.btn {
  height: 120px;
  width: 150px;
  text
}