body {
  background-color: grey;
}

.encrypt-or-decrypt-button {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.flex {
  display: flex;
  flex-direction: column;
}

#vertical-line {
  border-left: 4px solid black;
  height: 100%;
  margin-top: 17vh;
  position: absolute;
}


.btn.btn-primary {
  height: 7vh;
  justify-content: center;
  width: 13vw;
  border: 1px solid black;
  margin-top: 40px;
  display: block;
  white-space: normal;
  word-wrap :break-word;

}