body {
  background-color: grey;
}

.encrypt-or-decrypt-button {
  margin: auto;
  text-align: center;
  margin-bottom: 150px;
}

.flex {
  display: flex;
  flex-direction: column;
}

#vertical-line {
  border-left: 4px solid black;
  height: 100%;
  margin-top: 20vh;
  position: absolute;
  left: 47%;
  top: 0px;
}

.navbar {
  background-color: beige;
  margin: auto;
  width: 70%;
  height: 10vh;
  border: 1px solid black;
}